@use "./fonts.scss";


html, body {
    background-color: #181818;
    color: #D8D8D8;
}


/* Additional style resets that are not covered by normalize.css */
h1, h2, h3, h4, h5, h6, ul {
    padding: 0;
    margin: 0;
}
