@use 'sass:map';

@use 'fonts';
@use 'themes';


@mixin colors($theme) {
	--base00: #{map.get($theme, 'base00')};
	--base01: #{map.get($theme, 'base01')};
	--base02: #{map.get($theme, 'base02')};
	--base03: #{map.get($theme, 'base03')};
	--base04: #{map.get($theme, 'base04')};
	--base05: #{map.get($theme, 'base05')};
	--base06: #{map.get($theme, 'base06')};
	--base07: #{map.get($theme, 'base07')};
	--base08: #{map.get($theme, 'base08')};
	--base09: #{map.get($theme, 'base09')};
	--base0a: #{map.get($theme, 'base0a')};
	--base0b: #{map.get($theme, 'base0b')};
	--base0c: #{map.get($theme, 'base0c')};
	--base0d: #{map.get($theme, 'base0d')};
	--base0e: #{map.get($theme, 'base0e')};
	--base0f: #{map.get($theme, 'base0f')};

	--blue: var(--base0d);
	--brown: var(--base0f);
	--cyan: var(--base0c);
	--green: var(--base0b);
	--magenta: var(--base0e);
	--orange: var(--base09);
	--red: var(--base08);
	--yellow: var(--base0a);

	--background: var(--base00);
	--backgroundLighter: var(--base01);
	--backgroundLighterLighter: var(--base02);

	--foreground: var(--base05);
	--foregroundDarker: var(--base04);
	--foregroundDarkerDarker: var(--base03);
	--foregroundLighter: var(--base06);
	--foregroundLighterLighter: var(--base07);
}


@mixin sizeConstants($baseUnit) {
	--halfSize: #{$baseUnit / 2};
	--baseSize: #{$baseUnit};
	--onePointFourSize: #{$baseUnit * 1.4};
	--onePointFiveSize: #{$baseUnit * 1.5};
	--twiceSize: #{$baseUnit * 2};
	--tripleSize: #{$baseUnit * 3};
	--sextupleSize: #{$baseUnit * 6};

	--bodyMarginMobile: var(--twiceSize);
	--headerHeightMobile: var(--sextupleSize);
	--logoSizeMobile: var(--tripleSize);
}


:root {
	@include colors(themes.$base16-default-dark);
	@include sizeConstants(12px);
}


[data-theme='light'] {
	@include colors(themes.$base16-default-light);
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


html, body {
	background-color: var(--background);
	color: var(--foreground);
}
